
body { 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 30px; 
    color: #333; 
    max-width: 800px;
}

header {
    background-color: rgb(255, 36, 36);
    padding: 20px;
    margin: -30px -30px 0 -30px;
    border-bottom: #333;
}

header nav a {
    color: black
}

header nav {
    margin-bottom: 0;
}

.map-container { 
    width: 100%; 
    height: 500px; 
    background: #4f4f4f; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
}
